<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>0hCrud! Things I Forgot to Do</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="app" class="container mt-5">
    <div class="title">
        <h1>Oh Crud!</h1>
        <p>Things I forgot to do:</p>
    </div>

    <div class="form">
        <form @submit.prevent="addTask">
            <input type="text" v-model="newTask" placeholder="Thing to do" class="form-control">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        <p>You have:</p>
        <p id="counter">{{ tasks.length }} {{ tasks.length === 1 ? 'thing to do' : 'things to do' }}</p>

        <table>
            <tr class="to-do">
                <th><h3>To-Do:</h3></th>
            </tr>
            <tbody id="tasks">
                <tr v-for="(task, index) in tasks" :key="index">
                    <td>{{ index + 1 }}. {{ task }}</td>
                    <td>
                        <button @click="editTask(index)" class="btn btn-warning">Edit</button>
                        <button @click="deleteTask(index)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div v-if="showEditBox">
        <form @submit.prevent="saveEdit">
            <input type="text" v-model="editedTask" class="form-control">
            <button type="submit" class="btn btn-success">Save</button>
            <button @click="closeInput" class="btn btn-secondary">&#10006;</button>
        </form>
    </div>
</div>
